@import "variables";
@import "mixins";

.card {
  height: 478px;
  width: 327px;
  margin: 34px auto;
  transform: translateY(-30%);
  color: $grayishBlue;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 20px 30px -5px rgba(127, 137, 185, 0.152073);

  @include breakpoint-up(desktop){
    width: 540px;
    height: 397px;
  }

  &-top {
    height: 278px;
    max-height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;


    .number {
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $extraBold;
      letter-spacing: 1.71429px;
    }

    input {
      margin: 0 auto;
      width: 279px;
      height: 8px;
    }

    .price {
      font-size: 32px;
      font-weight: $extraBold;

      > span {
        position: relative;
        bottom: 5px;
        font-size: 14px;
        font-weight: $semiBold;
      }
    }

    .billing {
      font-size: 12px;
      margin-bottom: 38px;

      .badge {
        position: absolute;
        margin: 0 0 0 4px;
        padding: 1.5px;
        font-size: 10px;
        font-weight: $extraBold;
        color:$lightRed;
        background-color: hsl(15, 90%, 95%);
        border-radius: 9.5px;
        height: 19px;
        width: 41px;
      }
    }
  }

  &-bottom {
    border-top: 1px solid $lightGrayishBlue;
    height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .perks {
      text-align: center;
      list-style: inside url("./../images/icon-check.svg");
      padding: 0;
      height: 71px;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: auto 0 auto;
    }

    .btn {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 20.5px;
      width: 170px;
      height: 41px;
      background-color: $darkDesaturatedBlue;
      color: $paleBlue;
      margin: 0 auto 32px;
      font-family: $manrope;
      font-size: 12px;
      font-weight: $extraBold;

      &:hover {
        color: $white;
      }
    }
  }

} // end .card


// Switch button

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  margin: 0 8px;
  bottom: 4px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $lightGrayishBlueBg;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}


// input range with slider
//    Step #1 - reset browser css then we can apply our style

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  //width: 279px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

// Step #2 - Styling the thumb (icon slider)

// for Webkit - Chrome & Edge
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: $strongCyan;
  cursor: pointer;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: -16px 0; // alignment fix
}

// for firefox
input[type=range]::-moz-range-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: $strongCyan;
  cursor: grabbing;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
}

// Step #3 - Styling the track

// for Webkit - Chrome & Edge
input[type=range]::-webkit-slider-runnable-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: $softCyan;
  border-radius: 5px;
  border: none;

  @include breakpoint-up(desktop){

  }
}

// for Firefox
input[type=range]::-moz-range-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: $lightGrayishBlue;
  border-radius: 5px;
  border: none;
}

// Step #4 - Tracking progress

// for Webkit - Chrome & Edge
input[type="range"]progress {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-progress-value {
  background-color: black;
  color: red;
  height: 8px;
}

// for Firefox
input[type="range"]::-moz-range-progress {
  background-color: $softCyan;
  height: 8px;
}
