@import "variables";
@import "mixins";

.header {
  position: relative;
  display: flex;
  height: 50vh;
  background-image: url("./../images/bg-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  &-wrapper {
    width: 326px;
    height: 146px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 57px auto 32px;

    background-image: url("./../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint-up(desktop){
      width: 395px;
      height: 145px;
    }

    .header-text {
      margin: auto;

      &__title {
        font-size: 20px;
        font-weight: $extraBold;

        @include breakpoint-up(desktop){
          font-size: 28px;
        }
      }

      &__msg {
        font-size: 13px;
        color: $grayishBlue;

        @include breakpoint-up(desktop){
          font-size: 15px;
        }

        > br {
          @include breakpoint-up(desktop){
            display: none;
          }
        }
      }

    }

  }

}
