@import "variables";
@import "mixins";

.header {
  position: relative;
  display: flex;
  height: 50vh;
  background-image: url("./../images/bg-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @include breakpoint-up(tablet){
    background-position: left bottom;
  }

  &-wrapper {
    width: 20.375rem;
    height: 9.125rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3.563rem auto 2rem;

    background-image: url("./../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint-up(desktop){
      width: 24.688rem;
      height: 9.063rem;
    }

    .header-text {
      margin: auto;

      &__title {
        font-size: 1.25rem;
        font-weight: $extraBold;

        @include breakpoint-up(desktop){
          font-size: 1.75rem;
        }
      }

      &__msg {
        font-size: 0.813rem;
        color: $grayishBlue;

        @include breakpoint-up(desktop){
          font-size: 0.938rem;
        }

        > br {
          @include breakpoint-up(desktop){
            display: none;
          }
        }
      }

    }

  }

}
