html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.header {
  position: relative;
  display: flex;
  height: 50vh;
  background-image: url("./../images/bg-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.header-wrapper {
  width: 326px;
  height: 146px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 57px auto 32px;
  background-image: url("./../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 90em) {
  .header-wrapper {
    width: 395px;
    height: 145px;
  }
}
.header-wrapper .header-text {
  margin: auto;
}
.header-wrapper .header-text__title {
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 90em) {
  .header-wrapper .header-text__title {
    font-size: 28px;
  }
}
.header-wrapper .header-text__msg {
  font-size: 13px;
  color: #858fad;
}
@media (min-width: 90em) {
  .header-wrapper .header-text__msg {
    font-size: 15px;
  }
}
@media (min-width: 90em) {
  .header-wrapper .header-text__msg > br {
    display: none;
  }
}

.card {
  height: 478px;
  width: 327px;
  margin: 34px auto;
  transform: translateY(-30%);
  color: #858fad;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 20px 30px -5px rgba(127, 137, 185, 0.152073);
}
.card-top {
  height: 278px;
  max-height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.card-top .number {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}
.card-top input {
  margin: 0 auto;
  width: 279px;
  height: 8px;
}
.card-top .price {
  font-size: 32px;
  font-weight: 800;
}
.card-top .price > span {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.card-top .billing {
  font-size: 12px;
  margin-bottom: 38px;
}
.card-top .billing .badge {
  position: absolute;
  margin: 0 0 0 4px;
  padding: 1.5px;
  font-size: 10px;
  font-weight: 800;
  color: #ff8c66;
  background-color: #feede7;
  border-radius: 9.5px;
  height: 19px;
  width: 41px;
}
.card-bottom {
  border-top: 1px solid blue;
  height: 200px;
  max-height: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  margin: 0 8px;
  bottom: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: #10d5c2;
  cursor: pointer;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: -16px 0;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: #10d5c2;
  cursor: pointer;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 5px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: red;
}

input[type=range]::-moz-range-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 5px;
  border: none;
}

input[type=range]:focus::-moz-range-track {
  background: red;
}

/*# sourceMappingURL=style.css.map */
