html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-tablet {
    display: none;
  }
}

.header {
  position: relative;
  display: flex;
  height: 50vh;
  background-image: url("./../images/bg-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-width: 48em) {
  .header {
    background-position: left bottom;
  }
}
.header-wrapper {
  width: 326px;
  height: 146px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 57px auto 32px;
  background-image: url("./../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 90em) {
  .header-wrapper {
    width: 395px;
    height: 145px;
  }
}
.header-wrapper .header-text {
  margin: auto;
}
.header-wrapper .header-text__title {
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 90em) {
  .header-wrapper .header-text__title {
    font-size: 28px;
  }
}
.header-wrapper .header-text__msg {
  font-size: 13px;
  color: #858fad;
}
@media (min-width: 90em) {
  .header-wrapper .header-text__msg {
    font-size: 15px;
  }
}
@media (min-width: 90em) {
  .header-wrapper .header-text__msg > br {
    display: none;
  }
}

.card {
  height: 478px;
  width: 327px;
  margin: 34px auto;
  transform: translateY(-30%);
  color: #858fad;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 20px 30px -5px rgba(127, 137, 185, 0.152073);
}
@media (min-width: 48em) {
  .card {
    width: 540px;
    height: 397px;
    margin: -60px auto;
  }
}
.card-top {
  height: 278px;
  max-height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 48em) {
  .card-top {
    height: 261px;
    width: 540px;
  }
}
.card-top .number {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.71429px;
}
@media (min-width: 48em) {
  .card-top .number {
    position: absolute;
    right: 54.26%;
    left: 8.89%;
    top: 13.08%;
    bottom: 76.07%;
    margin-top: 0;
    text-align: left;
    letter-spacing: 2px;
  }
}
.card-top input {
  margin: 0 auto;
  width: 279px;
  height: 8px;
}
@media (min-width: 48em) {
  .card-top input {
    width: 444px;
    position: absolute;
    left: 8.89%;
    right: 8.89%;
    top: 34.01%;
    bottom: 63.98%;
  }
}
.card-top .price {
  font-size: 32px;
  font-weight: 800;
  color: #293356;
}
@media (min-width: 48em) {
  .card-top .price {
    position: absolute;
    left: 54.26%;
    right: 8.89%;
    top: 10.08%;
    bottom: 76.07%;
    text-align: right;
    font-size: 40px;
  }
}
.card-top .price > span {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #858fad;
}
.card-top .billing {
  display: inline-flex;
  font-size: 12px;
  margin: 0 auto 38px;
}
@media (min-width: 48em) {
  .card-top .billing {
    margin: 0 auto 38px 30%;
  }
}
@media (min-width: 48em) {
  .card-top .billing-left, .card-top .billing-right {
    margin-top: 10px;
  }
}
.card-top .billing .badge {
  position: absolute;
  margin: 0 0 0 4px;
  padding: 1.5px;
  font-size: 10px;
  font-weight: 800;
  color: #ff8c66;
  background-color: #feede7;
  border-radius: 9.5px;
  height: 19px;
  width: 41px;
}
@media (min-width: 48em) {
  .card-top .billing .badge {
    width: 80px;
    position: relative;
  }
}
@media (min-width: 48em) {
  .card-top .billing .badge-discount {
    padding: 3px 6px;
  }
}
.card-bottom {
  border-top: 1px solid #eaeefb;
  height: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 48em) {
  .card-bottom {
    height: 136px;
    flex-direction: inherit;
  }
}
.card-bottom .perks {
  text-align: center;
  list-style: inside url("./../images/icon-check.svg");
  padding: 0;
  height: 71px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0 auto;
}
@media (min-width: 48em) {
  .card-bottom .perks {
    list-style: outside url("./../images/icon-check.svg");
    margin: auto auto auto 58px;
    text-align: left;
  }
}
@media (min-width: 48em) {
  .card-bottom .perks-span {
    margin-left: 9px;
  }
}
.card-bottom .btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20.5px;
  width: 170px;
  height: 41px;
  background-color: #293356;
  color: #bdccff;
  margin: 0 auto 32px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 0;
}
.card-bottom .btn:hover {
  color: white;
}
@media (min-width: 48em) {
  .card-bottom .btn {
    margin: auto 44px auto;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  margin: 0 8px;
  bottom: 4px;
}
@media (min-width: 48em) {
  .switch {
    bottom: -7px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider:hover {
  background-color: #7beadf;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: #10d5c2;
  cursor: pointer;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: -16px 0;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #25ad9f;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 25px;
  background-color: #10d5c2;
  cursor: grabbing;
  background-image: url("./../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
}
input[type=range]::-moz-range-thumb:active {
  background-color: #25ad9f;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 5px;
  border: none;
}

input[type=range]::-moz-range-track {
  width: 279px;
  height: 8px;
  cursor: pointer;
  background: #eaeefb;
  border-radius: 5px;
  border: none;
}
@media (min-width: 48em) {
  input[type=range]::-moz-range-track {
    width: 444px;
  }
}

input[type=range]::-moz-range-progress {
  background-color: #a5f3eb;
  height: 8px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
